# Created by .ignore support plugin (hsz.mobi)
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
### Example user template
# IntelliJ project files
.idea
*.iml
out
gen
cmake-build-debug/
